.server.pid

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
**/Generated.xcconfig
**/Flutter.podspec
**/.flutter-plugins
**/.flutter-plugins-dependencies
